<app-user-nav-bar></app-user-nav-bar>
<img src="assets/image/staff4.jpg" alt="Banner Image" class="decor-image">
<div class="container mt-4">
  <p class="section-title">Le style Staff Décor</p>
  <p class="section-content">Laissons place nette au staff ! Capter une lumière,
    capturer des ombres. Former, déformer, <br> reformer pour reconstruire l’environnement architectural de l’espace.
    Matériau noble et naturel, <br>le staff est le caméléon de la décoration d’intérieur.<br>
    Qu’on le veuille design ou qu’on le préfère baroque, il opère dans chaque lieu de la même manière.
    Discrètement il s’impose comme moteur de l’harmonie globale.
  </p>
</div>
<hr class="section-separator">
<p class="section-title">Exemple des Projets</p>

<div class="photo-grid">
  <div class="photo-block"><img src="assets/image/int1.jpg" alt="Photo 1"></div>
  <div class="photo-block"><img src="assets/image/int2.jpg" alt="Photo 2"></div>
  <div class="photo-block"><img src="assets/image/int3.jpg" alt="Photo 3"></div>
</div>
